.dropdown
{
    position: absolute;
    z-index: 10;

    border: 1px solid #bfc0c4;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.3);

    background: #fff;

    margin: 10px 0px 0 -45px;

    width: 195px;

    display: none;
}

.dropdown_visibility_visible
{
    display: block;
}