.container_type_landing
{
    height: 530px;
    padding-top: 210px;
    background: url(/i/landing2-first.jpg) no-repeat 30px 0
}

.container_type_landing .block__p
{
    margin-bottom: 60px;
}

.container_type_landing .button_theme_download
{
    margin-bottom: 30px;
}

.container_type_landing-first-step
{
    padding-top: 45px;
    padding-bottom: 86px;
    background: url(/i/landing2-first-bottom.jpg) no-repeat 13px 100%;
}

.container_type_landing-second-step
{
    position: relative;

    height: 663px;
    padding-top: 95px;
    background: url(/i/landing2-second.jpg) no-repeat 30px 0;
}

.container_type_landing-second-step:after
{
    position: absolute;
    bottom: -16px;
    left: 278px;

    width: 82px;
    height: 16px;

    content: "";

    background: url(/i/landing-second-part.jpg) no-repeat;
}

.container_type_landing-second-step .block__p
{
    color: #222;
}

.container_type_landing-third-step
{
    position: relative;
    padding-top: 80px;
    height: 668px;
    background: url('/i/landing-activities-bg.png') no-repeat 438px 80px;
}

.container_type_landing-third-step .block .block__p
{
    width: 310px;
    margin-left: 70px;
    color: #222;
}

.container_type_landing-third-step .button
{
    position: absolute;
    left: 100px;
    bottom: 100px;
}

.container_type_landing-fourth-step
{
    position: relative;

    height: 592px;
    background: url(/i/landing2-fourth.jpg) no-repeat 30px 100%;
}

.container_type_landing-fourth-step:after
{
    position: absolute;
    top: -240px;
    left: 278px;

    width: 468px;
    height: 182px;

    content: "";

    background: url(/i/landing-fourth-part.jpg) no-repeat;
}

.container_type_landing-fifth-step
{
    position: relative;
    height: 652px;
    padding-top: 88px;
    background: url(/i/landing2-fifth.jpg) no-repeat 30px 0;
}

.container_type_landing-fifth-step .button
{
    position: absolute;
    bottom: 75px;
    right: 60px;
}

.container_type_landing-sixth-step
{
    padding-top: 10px;
    height: 598px;
    background: url(/i/landing2-sixth.jpg) no-repeat 30px 0;
}

.container_type_landing-sixth-step .block__p
{
    margin-left: 70px;
}

.container_type_landing-seventh-step
{
    padding: 60px 0;
}
