.container_type_landing
{
    padding-top: 210px;
    height: 530px;
    background: url(/i/landing2-first.jpg) no-repeat 65% 0
}

.container_type_landing .block__p
{
    margin-bottom: 60px;
}

.container_type_landing .button_theme_download
{
    margin-bottom: 30px;
}

.container_type_landing-first-step
{
    padding-top: 45px;
    padding-bottom: 86px;
    background: url(/i/landing2-first-bottom.jpg) no-repeat 65% 100%;
}

.container_type_landing-second-step
{
    position: relative;

    padding-top: 95px;
    height: 679px;
    background: url(/i/landing2-second.jpg) no-repeat 65% 0;
}

.container_type_landing-second-step .block__p
{
    color: #222;
}

.container_type_landing-third-step
{
    position: relative;
    padding: 80px 0 0;
    height: 668px;
}

.container_type_landing-third-step .span8
{
    position: relative;
}

.container_type_landing-third-step .span8:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: -11px;
    height: 438px;
    background: url('/i/landing-activities-bg.png') 0 0 no-repeat;
    content: '';
}

.container_type_landing-third-step .block .block__p
{
    margin-left: 75px;
    width: 310px;
    color: #222;
}

.container_type_landing-third-step .button
{
    position: absolute;
    bottom: 100px;
    left: 70px;
}

.container_type_landing-fourth-step
{
    position: relative;

    height: 592px;
    background: url(/i/landing2-fourth.jpg) no-repeat 65% 100%;
}

.container_type_landing-fourth-step:after
{
    position: absolute;
    top: -240px;
    left: 278px;

    width: 468px;
    height: 182px;

    background: url(/i/landing-fourth-part.jpg) no-repeat;

    content: "";
}

.container_type_landing-fifth-step
{
    position: relative;
    padding-top: 88px;
    height: 652px;
    background: url(/i/landing2-fifth.jpg) no-repeat 65% 0;
}

.container_type_landing-fifth-step .button
{
    position: absolute;
    right: 60px;
    bottom: 75px;
}

.container_type_landing-sixth-step
{
    padding: 10px 0 0;
    height: 598px;
    background: url(/i/landing2-sixth.jpg) no-repeat 50% 0;
}

.container_type_landing-sixth-step .block__p
{
    margin-left: 70px;
}

.container_type_landing-seventh-step
{
    padding: 60px 0;
}
