.try-free__description
{
    width: 34%;
    display: inline-block;

    margin: 1.3em 0 0 0;

    position: relative;
}

.try-free__description:after
{
    content: "";

    position: absolute;
    top: 6px;
    left: -20px;

    background: #d9d9d9;

    width: 1px;
    height: 30px;
}