.section .container
{
    min-width: 1140px;
}

.section .block__h1
{
    font-size: 45px;
}

.section .list
{
    font-size: 18px;
    margin-top: 10px;
}

.section .list__item
{
    position: relative;

    padding-left: 16px;
}

.section .list__item:before
{
    position: absolute;
    left: 0;
    top: 10px;

    content: "";

    width: 5px;
    height: 5px;
    border-radius: 50%;

    background: #e25e3a;
}

.block__h1_star_yes,
.block__h1_star_red,
.block__h1_star_white,
.block__h1_star_green
{
    padding-left: 75px;
}

.block__h1_star_red
{
    background: url('/i/landing2-star_red.png') no-repeat;
}

.block__h1_star_green
{
    background: url('/i/landing2-star_green.jpg') no-repeat;
}

.block__h1_star_white
{
    background: url('/i/landing2-star_white.png') no-repeat;
}

.section .block__p
{
    font-size: 18px;

    width: 360px;
}

.section .button_theme_download,
.section .button_theme_howitworks
{
    width: 310px;
}

.section_step_sixth
{
    padding-top: 80px;
}

.section_step_first
{
    background: #fff url(/i/gradient1.jpg) repeat-x 0 100%;
}

.section_step_second
{
    background: #89c13b url(/i/gradient2.jpg) repeat-x;
}

.section_step_third
{
    position: relative;
    z-index: 1;
}

.section_step_fourth
{
    padding-top: 70px;
    background: #f2cc47 url(/i/gradient4.jpg) repeat-x 0 100%;
}

.section_step_fifth
{
    background: #89c13b url(/i/gradient5.jpg) repeat-x;
}

.section_step_seventh .block__h2
{
    margin-left: 70px;
    color: #39c;
    font-size: 35px;
    font-style: italic;
}

.section_step_seventh .button
{
    margin-top: 11px;
}

.section .b-carousel__item
{
    width: 778px;
    height: 417px;
}

.section .b-carousel__item_type_first-block
{
    background: url('/i/landing-activities_first.jpg');
}

.section .b-carousel__item_type_second-block
{
    background: url('/i/landing-activities_second.jpg');
}

.section .b-carousel__item_type_third-block
{
    background: url('/i/landing-activities_third.jpg');
}

.section .b-carousel__item_type_fourth-block
{
    background: url('/i/landing-activities_fourth.jpg');
}

.section .b-carousel__item_type_fifth-block
{
    background: url('/i/landing-activities_fifth.jpg');
}

.section .b-carousel__item_type_sixth-block
{
    background: url('/i/landing-activities_sixth.jpg');
}

.section .b-carousel__switcher
{
    position: static;
    float: right;
    margin-top: 24px;
}

.section .b-carousel__button
{
    position: relative;

    font-size: 19px;
    font-family: "Comic Sans MS", sans-serif;

    width: 112px;
    margin-right: 0;
    padding-top: 120px;
    background: url(/i/landing-activities-buttons.png) no-repeat;
}

.section .b-carousel__button_type_second-block
{
    padding-top: 140px;

    background-position: -112px 0;
}

.section .b-carousel__button_type_third-block
{
    padding-top: 112px;

    background-position: -224px 0;
}

.section .b-carousel__button_type_fourth-block
{
    padding-top: 140px;

    background-position: -343px 0;
}

.section .b-carousel__button_type_fifth-block
{
    padding-top: 112px;

    background-position: -457px 0;
}

.section .b-carousel__button_type_sixth-block
{
    padding-top: 140px;

    background-position: -569px 0;
}

.section .b-carousel__button:before
{
    position: absolute;
    top: -10px;
    left: 50%;

    width: 19px;
    height: 13px;
    margin-left: -9px;

    display: none;
    background: url(/i/landing-activities-select.png) no-repeat;
    content: "";
}

.section .b-carousel__button_state_active:before
{
    display: block;
}

.section .b-carousel__button_type_second-block:before,
.section .b-carousel__button_type_fourth-block:before,
.section .b-carousel__button_type_sixth-block:before
{
    top: 10px;
}
