.section_step_first
{
    background: #86e2f1; /* TODO: remove */
}

.section_step_second
{
    height: 760px;
    background: #89c13b;
}

.section_step_fourth
{
    background: #f2cc47;
}

.section_step_fifth
{
    height: 760px;
    background: #89c13b;
}
