.section .container
{
    min-width: 1140px;
}

.section .block__h1
{
    font-size: 45px;
}

.block__h1_star_yes,
.block__h1_star_red,
.block__h1_star_green
{
    padding-left: 75px;
}

.block__h1_star_red
{
    background: url('/i/landing2-star_red.png') no-repeat;
}

.block__h1_star_green
{
    background: url('/i/landing2-star_green.jpg') no-repeat;
}

.section .block__p
{
    font-size: 18px;

    width: 360px;
}

.section .button_theme_download
{
    padding-right: 30px;
}

.section_step_sixth
{
    padding-top: 80px;
}

.section_step_first
{
    background: #fff url(/i/gradient1.jpg) repeat-x 0 100%;
}

.section_step_second
{
    background: #89c13b url(/i/gradient2.jpg) repeat-x;
}

.section_step_third
{
    position: relative;
    z-index: 1;
}

.section_step_fourth
{
    padding-top: 70px;
    background: #f2cc47 url(/i/gradient4.jpg) repeat-x 0 100%;
}

.section_step_fifth
{
    background: #89c13b url(/i/gradient5.jpg) repeat-x;
}

.section_step_seventh .block__h2
{
    margin-left: 70px;
    color: #39c;
    font-size: 35px;
}

.section_step_seventh .button
{
    margin-top: 11px;
}

.section .b-carousel__item
{
    width: 778px;
    height: 417px;
}

.section .b-carousel__item_type_first-block
{
    background: url('/i/landing-activities_first.jpg');
}

.section .b-carousel__item_type_second-block
{
    background: url('/i/landing-activities_second.jpg');
}

.section .b-carousel__item_type_third-block
{
    background: url('/i/landing-activities_third.jpg');
}

.section .b-carousel__item_type_fourth-block
{
    background: url('/i/landing-activities_fourth.jpg');
}

.section .b-carousel__item_type_fifth-block
{
    background: url('/i/landing-activities_fifth.jpg');
}

.section .b-carousel__item_type_sixth-block
{
    background: url('/i/landing-activities_sixth.jpg');
}
