@font-face {
    font-family: 'univers';
    src: local('univers');
    src: url('i-font_face_univers.woff'),
         url('i-font_face_univers.ttf');
}

.i-font_face_univers
{
    font-family: 'univers';
}