.logo
{
    font-size: 25px;

    display: inline-block;

    color: #333;
}

.logo__link
{
    font-family: "Segoe UI Semibold", "Segoe UI", Helvetica, Arial, sans-serif;

    position: relative;

    font-size: 35px;

    color: #333;

    margin-left: 100px
}

.logo .logo__link:hover
{
    text-decoration: none;
}