.download__title
{
    width: 34%;

    float: left;

    color: #39c;

    font-size: 35px;
    font-weight: 400;
    font-style: italic;

    white-space: nowrap;

    line-height: 1.25;
}

.download__title-line.download__title-line_line_2
{
    padding-left: 25px;
}

.download__title-line.download__title-line_line_3
{
    padding-left: 50px;
}