bem-bl
bemhtml
bem-controls
node_modules
.DS_Store
.idea
.project
.svn
desktop.bundles/*/*.*
!desktop.bundles/*/*.bemjson.js
!desktop.bundles/.bem/*

.bem/cache
*/.bem/cache/
desktop.bundles/*/blocks/.bem/cache/
