.nav
{
    font-size: 16px;

    display: inline-block;

    padding-top: 70px;

    vertical-align: top;

    text-align: left;

    color: #1c1c1c;
}

.nav .b-menu-horiz__item
{
    padding: 0 17px;
}

.nav .b-link
{
    font-size: 16px;
    color: #1c1c1c;
}

.nav .b-menu-horiz__item_state_current
{
    padding: 30px 17px 0;
    background: url(../../i/nav.png) 50% 3px no-repeat;
}

/*.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_home
{
    background-position: 50% 3px;
}*/

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_product
{
    background-position: 50% -45px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_community
{
    background-position: 50% -93px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_support
{
    background-position: 50% -140px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_download
{
    background-position: 50% -189px;
}


.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_buy
{
    background-position: 50% -237px;
}

/*
.b-menu-horiz__item_kind_special,
.b-menu-horiz__item_kind_special .b-link

{
    color: #39c;
    font-weight: 700;
}*/