.nav
{
    font-size: 15px;
    font-weight: 300;

    width: 100%;

    margin-top: 91px;

    vertical-align: top;

    text-align: left;

    color: #333;
}

.nav .b-menu-horiz__layout
{
    float: right;
}

.nav .b-menu-horiz__item
{
    padding: 0 19px 3px;
    line-height: 22px;
}

.nav .b-link
{
    font-size: 15px;
    color: #333;
}

.nav .b-menu-horiz__item_state_current
{
    background: #39c;
    color: #fff;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_buy
{
    background: #6cae11;
}

/*.nav .b-menu-horiz__item_state_current
{
    padding: 28px 17px 0;
    background: url(../../i/nav.png) 50% 3px no-repeat;
}*/

/*.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_home
{
    background-position: 50% 3px;
}*/

/*.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_product
{
    background-position: 50% -45px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_community
{
    background-position: 50% -93px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_support
{
    background-position: 50% -140px;
}

.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_download
{
    background-position: 50% -189px;
}


.nav .b-menu-horiz__item_state_current.b-menu-horiz__item_page_buy
{
    background-position: 50% -237px;
}
*/

/*
.b-menu-horiz__item_kind_special,
.b-menu-horiz__item_kind_special .b-link

{
    color: #39c;
    font-weight: 700;
}*/