.nav
{
    padding-top: 70px;

    text-align: left;
    vertical-align: top;

    display: inline-block;
}

.nav .b-menu-horiz__item
{
    padding: 0 17px;
}

.nav .b-link
{
    color: #1c1c1c;
    font-size: 16px;
}

.nav .b-link_page_product
{
    background: url(../../i/nav.png) -29px 0 no-repeat;
    padding: 30px 0 0;
}


.b-menu-horiz__item_kind_special .b-link
{
    color: #39c;
    font-weight: 700;
}