.price__item
{
    -webkit-box-shadow: 0 0 0 1px #999;
    -moz-box-shadow: 0 0 0 1px #999;
    -o-box-shadow: 0 0 0 1px #999;
    -html-box-shadow: 0 0 0 1px #999;
    box-shadow: 0 0 0 1px #999;

    padding: 20px 0 30px;
    margin-right: 5%;

    display: inline-block;

    width: 30%;

    background: #fff;

    text-align: center;
    vertical-align: top;
}

.price__item_position_last
{
    margin-right: 0;
}