.b-link_type_readmore
{
    color: #39c;
}

.b-link_type_readmore:after
{
    font-family: arial, sans-serif;
    font-size: 10px;

    content: " ▶";
}

.b-link_type_readmore:hover
{
    text-decoration: none;
}

.b-link_type_readmore:hover .b-link__inner
{
    text-decoration: underline;
}