.lang-switcher
{
    position: absolute;
    right: 0;
    top: 11px;

    min-width: 140px;

    font-weight: 300;

    cursor: pointer;

    text-align: right;
    color: #999;

    white-space: nowrap;
}

.lang-switcher__current
{
    display: inline-block;
    padding-left: 30px;

    line-height: 25px;

    background: url(lang-switcher.png) no-repeat;
}

.lang-switcher__current:after {
    content: " ▾";
}

.lang-switcher .dropdown {
    text-align: left;
}
