.block_type_magic-desktop
{
    position: relative;
}

.block_type_magic-desktop .shadow
{
    margin-top: -40px;
}

.block_type_magic-desktop .b-text_position_left
{
    width: 40%;
    float: left;

    margin-top: 40px;
}

.block_type_magic-desktop .b-text__h2
{
    color: #39c;
    font-size: 32px;

    font-style: italic;

    margin: 0.5em 0 0;
}

.block_type_magic-desktop .b-text__h3
{
    color: #333;
    font-size: 30px;

    font-style: italic;

    margin: 0.5em 0;
}