.button,
.b-page a.button
{
    text-decoration: none;
    cursor: pointer;
}

.b-page .button_pressed_yes .button__text
{
    top: 0;
}

.b-page_page_landing .button
{
    clear: both;

    z-index: 5;
}