.services__left,
.services__right
{
    width: 45%;
    float: left;
}

.services__left
{
    margin-left: -90px;
}

.services_page_download
{
    float: left; 
    margin-left: 34%;

    width: 66%;
}
.services_page_download .services__left
{
    margin-right: 8%;
}