.units__item
{
    width: 30%;

    margin: 0 3% 65px 0;
    vertical-align: top;

    display: inline-block;
}

.units__item_image_yes
{
    background: url(../../../i/units__item_image_yes.jpg) -2px 0 no-repeat;

    height: 223px;
    width: 31%;

    margin-bottom: 0;
}