.units__item
{
    width: 30%;

    /*margin: 0 3% 65px 0;*/
    margin: 0 0 65px 3.3%;
    vertical-align: top;

    display: inline-block;
}


.units__item_position_bottom
{
    margin-bottom: 25px;
}

.units__item_image_yes
{
    position: absolute;
    right: 0;
    bottom: 0;

    width: 31%;
    height: 223px;
    margin-bottom: 0;

    background: url(../../../i/units__item_image_yes.jpg) -2px 0 no-repeat;
}