.row-fluid_type_string
{
    margin-bottom: 65px;
    position: relative;
}

.row-fluid_picture_yes
{
    position: relative;
}

.row-fluid_block_address
{
    padding-bottom: 65px;
}

.row-fluid_block_address .unit__description
{
    margin-top: 30px;
}

.row-fluid_partners_yes
{
    margin-bottom: 40px;
}