.landing-demo__btn_action_bonus
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 230px;
    height: 32px;
}

.landing-demo__btn_action_bonus .landing-demo__btn-view
{
    outline: none;
}
