.block_type_languages .block-info
{
    margin-top: -23px;
}

.block-info__h2
{
    font-size: 35px;
    line-height: 44px;
    font-weight: 400;

    margin: 13px 0 18px;

    color: #333;
}

.block-info__p
{
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
}