.social
{
    float: right;

    margin: 0;
    padding: 0;

    list-style: none;
}

.social__item
{
    float: left;

    margin-left: 20px;
}

.social .b-link
{
    display: block;

    width: 30px;
    height: 30px;

    background-image: url(../../i/social.png);
    background-repeat: no-repeat;
}

.b-link_link_twitter
{
    background-position: -36px 0;
}

.b-link_link_facebook
{
    background-position: -72px 0;
}

.b-link_link_youtube
{
    background-position: -107px 0;
}

.b-link_link_mail
{
    background-position: -142px 0;
}