.landing-demo__mask
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
    background: 0 0 no-repeat;
}

.landing-demo__mask_view_windows,
.landing-demo__mask_view_magic-desktop
{
    background-image: url(/i/landing-demo__mask_view_windows.jpg);
}
