.header
{
    margin: 0 0 42px 0;
    padding: 0 30px;
}

.header__inner
{
    position: relative;

    min-width: 940px;
    max-width: 1400px;
    margin: auto;
    padding: 41px 0 16px;
}

.header_border_yes .header__inner
{
    border-bottom: 10px solid #c6c7cb;
}

.header_border_yes .header__inner:before,
.header_border_yes .header__inner:after
{
    position: absolute;
    left: 0;
    bottom: -10px;

    content: '';

    width: 72px;
    height: 10px;

    border-left: 72px solid #d94c81;
    border-right: 72px solid #6cae11;

    background: #39c;
}

.header_border_yes .header__inner:after
{
    left: 216px;

    border: 0;
    border-left: 72px solid #e25e3a;

    background: #ecac51;
}