.solution__title
{
    font-weight: normal;
    font-style: italic;

    margin: 0 0 35px 0;
}

.solution__title-top
{
    font-size: 32px;
    font-style: italic;

    display: block;

    margin-bottom: 0;
    margin-top: 30px;

    color: #39c;
}

.solution__title-bottom
{
    font-size: 30px;

    display: block;

    margin-top: 5px;

    color: #333;
}