.landing-demo__panel_side_bottom
{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2px 0 0;
    height: 32px;
    background: #1c301d no-repeat;
    color: #fff;
    line-height: 32px;
}

@for $lang in $langs {
    .$lang .landing-demo__panel_side_bottom {
        background-image: url("/i/$lang/landing-demo__panel_side_bottom.png");
    }
}

.landing-demo__panel_side_bottom .landing-demo__btn_action_parent-control
{
    margin: auto;
}

.landing-demo__panel_side_bottom .landing-demo__btn_action_start,
.landing-demo__panel_side_bottom .landing-demo__tray
{
    position: absolute;
    bottom: 0;
    left: 0;
}

.landing-demo__panel_side_bottom .landing-demo__tray
{
    right: 0;
    left: auto;
}
