.landing-image
{
    position: relative;

    width: 100%;
    max-width: 898px;
    margin: auto;

    color: #fff;
}

.landing-image__img
{
    width: 100%;
}

.landing-image__caption
{
    position: absolute;
    top: 22px;

    color: #333;
}

.landing-image__text
{
    position: absolute;
    left: 48%;
    top: 26px;
    bottom: 0;

    width: 370px;
}

.landing-image__features
{
    position: absolute;
    bottom: 3%;
}

.landing-image__title
{
    margin-bottom: 13px;

    font-size: 27px;
    font-weight: bold;
}

.b-page_width_fullsize .landing-image__text
{
    top: 57px;
}

.b-page_width_fullsize .landing-image__features
{
    bottom: 46px;
}

.landing-image__line
{
    line-height: 30px;
}

.landing-image__line_pos_1
{
    padding-left: 28px;
}

.landing-image__line_pos_2
{
    padding-left: 50px;
}

.landing-image__line_pos_3
{
    padding-left: 70px;
}

.landing-image__line_pos_4
{
    padding-left: 90px;
}

.landing-image__list
{
    margin: 0 0 27px;
    padding: 0;
}

.landing-image__item
{
    float: left;

    width: 151px;
    margin: 0 0 0 10px;
    padding-left: 21px;

    background: url(../../../i/star.png) no-repeat 0 3px;

    list-style: none;
}

.landing-image__screenshots-title
{
    position: absolute;
    bottom: -76px;
}