.popupa__close
{
    position: absolute;
    left: -20px;
    top: -20px;

    z-index: 100;

    width: 31px;
    height: 30px;

    background: url(../../../i/popupa__close.png) no-repeat;

    cursor: pointer;
}