.landing-demo__popup_type_parent-control
{
    bottom: 34px;
    left: 190px;
    width: 816px;
    height: 636px;
    background: url(/i/landing-demo__popup_type_parent-control.png) 0 0 no-repeat;
}
