.landing-demo__btn
{
    position: relative;
}

.landing-demo__btn-view
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 2px solid rgba(255, 204, 51, 1);
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.landing-demo__btn .landing-demo__hotspot
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: url(/i/landing-demo_type_hand.cur), pointer;
}
