.landing-demo__btn
{
    position: relative;
}

.landing-demo__btn-view
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 2px solid #ffcc33;
}

.landing-demo__btn .landing-demo__hotspot
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
