.serp
{
    margin: 22px 0 0;
}

.serp > .snippet
{
    position: relative;
}

.serp > .snippet + .snippet
{
    padding-top: 70px;
}

.serp > .snippet + .snippet:before
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, #d9d9d9 50%, rgba(0, 0, 0, 0) 100%) 0 0 rgba(0, 0, 0, 0);
    content: '';
}

.serp > .snippet:last-child
{
    padding-bottom: 0;
}

.serp__more
{
    margin: 10px auto 0;
    width: 150px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}

.serp__more:before
{
    display: inline-block;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #9c9fa8;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAYAAABvEu28AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMVJREFUeNqMkjEKg0AQRadIGRAWrAQrL2FrlTaVra2tB8mBPIBgFQikSpVLBARhM0P+wjDsbvzwQHf+/7jrkveemJKZmQbvR2iQkSzJgmPu/qc3Ux8oqeH1yDpCq9aLqTIlFTxaswxa5mMGz/DJhhIzLcm2wdBFyh7YdvA4rNmSLpxR4MJsxrgyBVjNbEOGbJFwZXYTWIDWDi+lioQ+UmZLeptL/ZkhUzTEMrm7MkZKxpT/38WbVMmU854orxtzVs9JfQUYADdooaubbLFnAAAAAElFTkSuQmCC');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    content: '';
    vertical-align: middle;
}

.serp__spinner
{
    margin: 10px auto 0;
    width: 40px;
    height: 40px;
    background: url('serp.gif') no-repeat;
}
