.units__pic
{
    position: absolute;

    margin-left: -50px;

    width: 38px;
    height: 120px;

    background: url(../../../i/units__pic.png) no-repeat;
}

.units__pic_count_1
{
    background-position: -79px -10px;
}

.units__pic_count_2
{
    background-position: -41px -10px;
}

.units__pic_count_3
{
    background-position: -4px -10px;
}

.units__pic_count_4
{
    background-position: -78px -133px;
}

.units__pic_count_5
{
    background-position: -39px -133px;
}

.units__pic_count_6
{
    background-position: -4px -133px;
}