.partners__item
{
    /*width: 18%;*/
    width: 100px;
    height: 58px;

    display: inline-block;

    margin: 0 0 15px 0;

    background: url(../../../i/partners__item.png) no-repeat;
}

/*.partners__item_position_last
{
    margin-right: 0;
    width: 16%;
}*/

.partners__item_type_disney
{
    background-position: 0 0;
}

.partners__item_type_milkshake
{
    background-position: 0 -222px;
}

.partners__item_type_uol
{
    background-position: 0 -465px;
}

.partners__item_type_dixons
{
    background-position: 0 -708px;
}

.partners__item_type_telecom
{
    background-position: 0 -951px;
}

.partners__item_type_telenor
{
    background-position: 0 -81px;
}

.partners__item_type_pb
{
    background-position: 0 -303px;
}

.partners__item_type_pc-worlds
{
    background-position: 0 -546px;
}

.partners__item_type_couto
{
    background-position: 0 -789px;
}

.partners__item_type_advent
{
    background-position: 0 -1032px;
}

.partners__item_type_asus
{
    background-position: 0 -384px;
}

.partners__item_type_acer
{
    background-position: 0 -163px;
}

.partners__item_type_intel
{
    background-position: 0 -627px;
}

.partners__item_type_hp
{
    background-position: 0 -870px;
}

.partners__item_type_five
{
    background-position: 0 -1113px;
}