.b-carousel__item
{
/*    -moz-transition: left .5s;
    -webkit-transition: left .5s;
    -o-transition: left .5s;
    transition: left .5s;*/

    position: relative;

    height: inherit;

    background: #fff;
}

.row-fluid .b-carousel__item
{
    display: none;
}

.row-fluid .b-carousel__item_state_active,
.row-fluid .b-carousel__item_pos_next,
.row-fluid .b-carousel__item_pos_prev
{
    display: block;
}

.b-carousel__item_state_active
{
    left: 0;
}

.b-carousel__item_pos_next,
.b-carousel__item_pos_prev
{
    position: absolute;
    top: 0;

    width: 100%;
}

.b-carousel__item_pos_prev
{
    z-index: 2;
}

.b-carousel__item_pos_next
{
    left: 100%;
}

.b-carousel__item_pos_prev
{
    left: -100%;
}

.b-carousel__item_pos_next.b-carousel__item_direction_left,
.b-carousel__item_pos_prev.b-carousel__item_direction_right
{
    left: 0;
}

.b-carousel__item_state_active.b-carousel__item_pos_left
{
    left: -100%;
}

.b-carousel__item_state_active.b-carousel__item_pos_right
{
    left: 100%;
}
