.info__item
{
    width: 38%;

    margin: 0 5% 35px 0;
    padding-left: 45px;

    display: inline-block;

    vertical-align: top;
}

.b-page_page_company .info__item
{
    margin: 0 0 35px 3%;
}

.info__item_col_2
{
    margin-top: 48px;
}

.info__item_color_blue
{
    background: url(../../../i/info__item_color_blue.png) -3px -3px no-repeat;
}

.info__item_color_red
{
    background: url(../../../i/info__item_color_red.png) -6px -3px no-repeat;
}

.info__item_color_pink
{
    background: url(../../../i/info__item_color_pink.png) -6px -3px no-repeat;
}