.b-carousel__button
{
    text-align: center;

    cursor: pointer;

    width: 95px;
    height: 60px;


    list-style: none;
    float: left;

    background: url(../../../i/b-carousel__button.png) 8px -8px  no-repeat;
}

.b-carousel__button_type_safe
{
    background-position: -82px -8px;
}

.b-carousel__button_type_control
{
    background-position: -176px -8px;
}

.b-carousel__button_type_entertainmen
{
    background-position: -271px -8px;
}

.b-carousel__button_type_protection
{
    background-position: -366px -8px;
}