.b-carousel__button
{
    text-align: center;

    cursor: pointer;

    width: 12px;
    height: 12px;


    list-style: none;
    float: left;

    background: #a5a5a6;

    margin-right: 7px;
    border-radius: 20px;
}