.content
{
    margin-bottom: 66px;
}

.content__h3
{
    font-size: 22px;

    color: #333;

    font-weight: 400;

    padding-top: .9em;
}

.content__h3_position_first
{
    margin-top: 0;
    padding-top: .3em;
}

.content__p
{
    line-height: 18px;
}

.content__p_font_bolder
{
    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
}