.dropdown__item .b-link
{
    padding: 4px 10px 4px 34px;
    color: #333;

    display: block;
    text-decoration: none;
}

.dropdown__item .b-link:hover
{
    background: #ebebeb;
}

.lang-switcher__dropdown .dropdown__item .b-link
{
    background-image: url(../../../i/lang-switcher__dropdown.png);
    background-repeat: no-repeat;
}

.lang-switcher__dropdown .dropdown__item_lang_danish .b-link
{
    background-position: 0 -25px;
}

.lang-switcher__dropdown .dropdown__item_lang_dutch .b-link
{
    background-position: 0 -217px;
}

.lang-switcher__dropdown .dropdown__item_lang_finnish .b-link
{
    background-position: 0 -241px;
}

.lang-switcher__dropdown .dropdown__item_lang_french .b-link
{
    background-position: 0 -48px;
}

.lang-switcher__dropdown .dropdown__item_lang_german .b-link
{
    background-position: 0 -265px;
}

.lang-switcher__dropdown .dropdown__item_lang_greek .b-link
{
    background-position: 0 -72px;
}

.lang-switcher__dropdown .dropdown__item_lang_hungarian .b-link
{
    background-position: 0 -289px;
}

.lang-switcher__dropdown .dropdown__item_lang_italian .b-link
{
    background-position: 0 -97px;
}

.lang-switcher__dropdown .dropdown__item_lang_japanese .b-link
{
    background-position: 0 -313px;
}

.lang-switcher__dropdown .dropdown__item_lang_norwegian .b-link
{
    background-position: 0 -121px;
}

.lang-switcher__dropdown .dropdown__item_lang_polish .b-link
{
    background-position: 0 -337px;
}

.lang-switcher__dropdown .dropdown__item_lang_portuguese .b-link
{
    background-position: 0 -145px;
}

.lang-switcher__dropdown .dropdown__item_lang_romanian .b-link
{
    background-position: 0 -361px;
}

.lang-switcher__dropdown .dropdown__item_lang_russian .b-link
{
    background-position: 0 -169px;
}

.lang-switcher__dropdown .dropdown__item_lang_spanish .b-link
{
    background-position: 0 -385px;
}

.lang-switcher__dropdown .dropdown__item_lang_swedish .b-link
{
    background-position: 0 -193px;
}

.lang-switcher__dropdown .dropdown__item_lang_turkish .b-link
{
    background-position: 0 -409px;
}