.unit__picture_type_product
{
    background: url(../../../../i/unit__picture_type_product.png) 0 -3px no-repeat;

    width: 78px;
    height: 70px;

    left: -90px;
    top: -15px;
}

.unit__picture_pos_2
{
    background-position: 0 -73px;
}

.unit__picture_pos_3
{
    background-position: 0 -590px;
}

.unit__picture_pos_4
{
    background-position: 0 -902px;
}

.unit__picture_pos_5
{
    background-position: 0 -664px;
}

.unit__picture_pos_6
{
    background-position: 0 -742px;
}

.unit__picture_pos_7
{
    background-position: 0 -147px;
}

.unit__picture_pos_8
{
    background-position: 0 -219px;
}

.unit__picture_pos_9
{
    background-position: 0 -291px;
}

.unit__picture_pos_10
{
    background-position: 0 -363px;
}

.unit__picture_pos_11
{
    background-position: 0 -434px;
}

.unit__picture_pos_12
{
    background-position: 0 -509px;
}

.unit__picture_pos_13
{
    background-position: 0 -825px;
}