.unit__picture_type_product
{
    background: url(../../../../i/unit__picture_type_product.png) no-repeat;

    width: 78px;
    height: 75px;

    left: -90px;
}

.unit__picture_pos_2
{
    background-position: 0 -72px;
}

.unit__picture_pos_3
{
    background-position: 0 -590px;
}

.unit__picture_pos_4
{
    background-position: 0 -902px;
}

.unit__picture_pos_5
{
    background-position: 0 -664px;
}

.unit__picture_pos_6
{
    background-position: 0 -742px;
}

.unit__picture_pos_7
{
    background-position: 0 -144px;
}

.unit__picture_pos_8
{
    background-position: 0 -217px;
}

.unit__picture_pos_9
{
    background-position: 0 -291px;
}

.unit__picture_pos_10
{
    background-position: 0 -361px;
}

.unit__picture_pos_11
{
    background-position: 0 -430px;
}

.unit__picture_pos_12
{
    background-position: 0 -506px;
}

.unit__picture_pos_13
{
    background-position: 0 -820px;
}