.footer-nav
{
    line-height: 22px;
    text-align: center;

    margin-top: -6px;
}

.footer-nav .b-menu-horiz__item
{
    margin: 0 47px 10px -10px;
    padding-left: 10px;
}

.footer-nav .b-menu-horiz__item .b-link
{
    color: #666;
}

.footer-nav .b-menu-horiz__item_state_current
{
    padding: 0 10px;
    margin: 0 27px 0 0;

    background: #666;

    color: #fff;
}

.footer-nav .b-menu-horiz__item_state_current .b-link
{
    color: #fff;
    text-decoration: none;
}