.footer-nav
{
    line-height: 22px;
    vertical-align: top;

    display: inline-block;

    width: 40%;
}

.footer-nav .b-menu-horiz__item
{
    margin: 0 47px 10px -10px;
    padding-left: 10px;
}

.footer-nav .b-menu-horiz__layout-unit_position_last .b-menu-horiz__item
{
    margin-right: 0;
}

.footer-nav .b-menu-horiz__item .b-link
{
    color: #666;
}

.footer-nav .b-menu-horiz__item_state_current
{
    padding: 0 10px;
    margin: 0 27px 10px -10px;

    background: #666;

    color: #fff;
}

.footer-nav .b-menu-horiz__item_state_current .b-link
{
    color: #fff;
    text-decoration: none;
}