.copyright
{
    font-size: 12px;

    display: inline-block;

    width: 38%;
}

.copyright__logo
{
    width: 125px;
    height: 24px;
    margin-bottom: 20px;

    background: url(../../i/copyright__logo.png);

    display: block;
}