.about-product__description
{
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;

    position: relative;

    margin: 34px 0 30px;

    color: #39c;
}

.about-product__description-line
{
    white-space: nowrap;
}

.about-product__description .about-product__description-line_line_2
{
    padding-left: 15px;
}

.about-product__description  .about-product__description-line_line_3
{
    padding-left: 30px;
}

.about-product__description  .about-product__description-line_line_4
{
    padding-left: 45px;
}