.about-product__description
{
    margin: 30px 0 0 -60px;
    position: relative;
}

.about-product__description .b-text__ul
{
    font-weight: 400;
    font-style: italic;
    font-size: 30px;

    color: #39c;
}

.about-product__description .b-text__ul .b-text__li
{
    list-style: none;
    margin-bottom: 0;
}

.about-product__description .b-text__ul .about-product__description-line_line_2
{
    padding-left: 15px;
}

.about-product__description .b-text__ul .about-product__description-line_line_3
{
    padding-left: 30px;
}

.about-product__description .b-text__ul .about-product__description-line_line_4
{
    padding-left: 45px;
}