.row-fluid_type_inquiry
{
    overflow: hidden;
    margin-top: 43px;
    margin-bottom: 40px;
}

.row-fluid_type_inquiry > :first-child
{
    float: left;
    width: 33.3%;
}

.row-fluid_type_inquiry > :last-child
{
    float: right;
    margin-right: 11px;
    margin-left: 3%;
    width: 60.8%;
}

.row-fluid_type_inquiry .block__h1
{
    line-height: 42px;
}

.row-fluid_type_inquiry .block__p
{
    margin-top: 16px;
    line-height: 18px;
}

.row-fluid_type_inquiry > :first-child .button
{
    display: block;
    margin-top: 46px;
    max-width: 300px;
}

.row-fluid_type_inquiry .unit__image
{
    margin-top: 0;
    min-width: 0;
    vertical-align: top;
}
