.b-carousel__button_position_last:after
{
    content: '';

    cursor: default;

    position: absolute;

    margin: 6px 0 0 22px;

    width: 50px;
    height: 2px;

    background: #fff;
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(210,211,213,1) 33%, rgba(165,167,171,1) 58%, rgba(120,123,129,1) 80%, rgba(75,79,87,1) 100%); 
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(210,211,213,1) 33%,rgba(165,167,171,1) 58%,rgba(120,123,129,1) 80%,rgba(75,79,87,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(210,211,213,1) 33%,rgba(165,167,171,1) 58%,rgba(120,123,129,1) 80%,rgba(75,79,87,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(210,211,213,1) 33%,rgba(165,167,171,1) 58%,rgba(120,123,129,1) 80%,rgba(75,79,87,1) 100%);
}
