@font-face 
{
    font-family: wf_SegoeUILight;
    src: url(wf_SegoeUILight.ttf);
}

.b-page
{
    font-family: "wf_SegoeUILight", Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;

    margin: 0;

    color: #666;
}

.b-page__inner
{
    min-width: 940px;
    max-width: 1400px;
    margin: auto;
    padding: 0 30px;
}