.b-page
{
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
    /*font-family: wf_SegoeUILight, "wf_SegoeUILight", "wf_SegoeUI", "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;*/
    font-size: 14px;

    margin: 0;
    padding-top: 10px;

    color: #666;
}

/*.b-page__inner
{
    min-width: 940px;
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
*/
.b-page_page_privacy-policy .content
{
    margin-bottom: 190px;
}

.b-page_page_support .header
{
    margin: 0;
}