html
{
    background: #f0efef;
}

.b-page
{
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;
    /*font-family: wf_SegoeUILight, "wf_SegoeUILight", "wf_SegoeUI", "Segoe UI Light", "Segoe WP Light", "Segoe UI", "Segoe", "Segoe WP", Tahoma, Verdana, Arial, sans-serif;*/
    font-size: 14px;

    margin: 0;
    padding-top: 15px;

    background: #fff;

    color: #666;
}

/*.b-page__inner
{
    min-width: 940px;
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}
*/

.b-page_page_index .b-link_type_readmore
{
    float: right;

    margin: 28px 0 7px;
}

.b-page_page_privacypolicy .content
{
    margin-bottom: 210px;
}

.b-page_page_privacypolicy .content__p,
.b-page_page_licenseagreement .content__p
{
    font-weight: 300;
}

.b-page_page_support .header
{
    margin: 0;
}

.b-page_width_small .span3_position_center .block-info
{
    display: none;
}

.b-page_page_landing2
{
    min-width: 1200px;
}

.b-page_page_landing2 .block__p
{
    color: #222;
}

.b-page_page_landing2 .section .block__h1
{
    line-height: 52px;
    padding-top: 6px;
}
