.languages
{
    font-weight: 300;

    margin: 17px -20px 16px;

    text-align: justify;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .languages
    {
        font-size: 0;
    }
}

.languages:after
{
    content: '';

    display: inline-block;

    width: 100%;
}