.slider__item
{
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: inherit;
}

.slider__item_state_active
{
    display: block;
    z-index: 9;
}

.slider__item_pos_next
{
    z-index: 5;
}