.b-page_page_company .unit_type_contact-us
{
    margin: 10px 0 0 0;
}

.unit_type_contact-us .unit__description
{
    width: 80%;
}

.unit_type_contact-us .unit__description-item
{
    margin-top: 2px;
}