.form_type_contact
{
    width: 52%;

    margin-bottom: 65px;

    position: relative;
}

#form-container
{
    min-height: 634px;
}

.form_type_contact .field-validation-error
{
    color: #e25e3a;
}
