.block__h1
{
    font-size: 35px;
    line-height: 125%;
}

.row-fluid_type_testimonials .block__h1
{
    line-height: 1.1;
}

.block__h1_type_license
{
    width: 270px;
}

.b-page_page_company .block__h1
{
    width: 85%;
}

.b-page_page_landing .block__h1
{
    margin-bottom: 50px;
}