.snippet
{
    display: inline-block;
    padding: 31px 0 26px;
    width: 100%;
    vertical-align: top;
}

.snippet__info
{
    float: left;
    padding: 0 1%;
    width: 27%;
    color: #666;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.snippet__logo
{
    margin: 0 0 20px;
}

.snippet__info b
{
    color: #222;
    font-weight: normal;
}

.snippet__description
{
    position: relative;
    float: left;
    margin: -10px 0 0;
    padding: 0 0 0 3%;
    width: 33.3%;
    color: #222;
}

.snippet__description:before
{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, #d9d9d9 50%, rgba(0, 0, 0, 0) 100%) 0 0 rgba(0, 0, 0, 0);
    content: '';
}

.snippet__title
{
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 26px;
}

.snippet__text
{
    font-size: 14px;
    line-height: 20px;
}

.snippet__picture
{
    float: right;
    margin: -18px 0 0 3%;
    max-width: 30%;
}
