.b-carousel__title
{
    background: url(../../../i/b-carousel__title.png) no-repeat 98% 86%;
    font-size: 265%;
    white-space: nowrap;

    padding: 7% 4% 2%;
    margin-left: 7%;
}

.b-carousel__item_type_play.b-carousel__item_state_active .b-carousel__title
{
    background-color: #e25e3a;
}

.b-carousel__item_type_safe.b-carousel__item_state_active .b-carousel__title
{
    background-color: #39c;
}

.b-carousel__item_type_control.b-carousel__item_state_active .b-carousel__title
{
    background-color: #6cae11;
}

.b-carousel__item_type_entertainment.b-carousel__item_state_active .b-carousel__title
{
    background-color: #d94c81;
}

.b-carousel__item_type_protection.b-carousel__item_state_active .b-carousel__title
{
    background-color: #e0962d;
}