.list
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.list__item
{
    margin: 0;
}

.b-page_page_product .list
{
    list-style: inside;
    margin-left: 2px;
}

.b-page_page_licenseagreement .list
{
    margin: 85px 0 0 0;
}

.b-page_page_licenseagreement .list__item
{
    margin: 0 0 22px 0;
}

.b-page_page_licenseagreement .list__item .b-link
{
    color: #666;
}