.footer_page_index
{
    padding-bottom: 0;
}

.footer_page_index .b-menu-vert
{
    padding-left: 0;
    margin-bottom: 30px;
}

.footer_page_index .b-menu-vert__item
{
    padding: 4px 0;
}

.footer_page_index .b-link
{
    color: #666;
    font-size: 13px;
}

.footer_page_index .copyright
{
    width: 48%;
}