.or
{
    color: #333;
    font-size: 22px;
    text-align: center;

    margin: -18px auto 0;
    padding: 0 30px;

    position: relative;
    z-index: 1;

    min-width: 940px;
    max-width: 1200px;
}

.or:after
{
    content: "";

    position: absolute;
    top: 17px;

    z-index: -1;

    width: 37px;
    height: 4px;
    margin-left: -29px;

    background: #fff;
}