.partners
{
    line-height: 0;
    text-align: justify;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .partners
    {
        font-size: 0;
    }

    .partners .partners__item
    {
        margin-bottom: 19px;
    }
}

.partners:after
{
    display: inline-block;

    width: 100%;

    content: '';
}