.languages__item
{
    font-size: 12px;

    position: relative;

    display: inline-block;

    /*width: 41px;*/
    width: 43px;
    margin-bottom: 34px;
    padding: 29px 20px 0;

    background-image: url(../../../i/languages__item.png);
    background-repeat: no-repeat;

    color: #666;
}

.languages__item_type_danish
{
    background-position: 50% 0;
}

.languages__item_type_english
{
    background-position: 50% -70px;
}

.languages__item_type_french
{
    background-position: 50% -141px;
}

.languages__item_type_greek
{
    background-position: 50% -212px;
}

.languages__item_type_italian
{
    background-position: 50% -283px;
}

.languages__item_type_norwegian
{
    background-position: 50% -354px;
}

.languages__item_type_portuguese
{
    background-position: 50% -424px;
}

.languages__item_type_russian
{
    background-position: 50% -493px;
}

.languages__item_type_swedish
{
    background-position: 50% -562px;
}

.languages__item_type_nederlands
{
    background-position: 50% -635px;
}

.languages__item_type_finnish
{
    background-position: 50% -708px;
}

.languages__item_type_german
{
    background-position: 50% -781px;
}

.languages__item_type_hungarian
{
    background-position: 50% -854px;
}

.languages__item_type_japanese
{
    background-position: 50% -927px;
}

.languages__item_type_polish
{
    background-position: 50% -1000px;
}

.languages__item_type_romanian
{
    background-position: 50% -1073px;
}

.languages__item_type_s-panish
{
    background-position: 50% -1146px;
}

.languages__item_type_turkish
{
    background-position: 50% -1219px;
}