.languages__item
{
    background-image: url(../../../i/languages__item.png);
    background-repeat: no-repeat;

    color: #666;

    display: block;

    float: left;

    font-size: 12px;

    margin: 0 1%;
    padding: 36px 0 0;

    text-align: center;
    width: 58px;
}

.languages__item:hover
{
    color: #39c;
}

.languages__item_type_danish
{
    background-position: -5px -5px;
}

.languages__item_type_english
{
    background-position: -96px -5px;
}

.languages__item_type_french
{
    background-position: -189px -5px;
}

.languages__item_type_greek
{
    background-position: -280px -5px;
}

.languages__item_type_italian
{
    background-position: -372px -5px;
}

.languages__item_type_norwegian
{
    background-position: -465px -5px;
}

.languages__item_type_portuguese
{
    background-position: -557px -5px;
}

.languages__item_type_russian
{
    background-position: -649px -5px;
}

.languages__item_type_swedish
{
    background-position: -738px -5px;
}

.languages__item_type_nederlands
{
    background-position: -5px -54px;
}

.languages__item_type_finnish
{
    background-position: -96px -54px;
}

.languages__item_type_german
{
    background-position: -189px -54px;
}

.languages__item_type_hungarian
{
    background-position: -280px -54px;
}

.languages__item_type_japanese
{
    background-position: -372px -54px;
}

.languages__item_type_polish
{
    background-position: -465px -54px;
}

.languages__item_type_romanian
{
    background-position: -555px -54px;
}

.languages__item_type_spanish
{
    background-position: -649px -54px;
}

.languages__item_type_turkish
{
    background-position: -741px -54px;
}