.button_theme_download
{
    background: #6cae11;
    background: -moz-linear-gradient(top,  #6cae11 , #609b0f);
    background: -webkit-linear-gradient(top,  #6cae11 ,#609b0f);
    background: -o-linear-gradient(top,  #6cae11 ,#609b0f);
    background: -ms-linear-gradient(top,  #6cae11 ,#609b0f);
    background: linear-gradient(to bottom,  #6cae11 ,#609b0f);

    box-shadow: 0 2px 4px rgba(0,0,0,.3);

    border: 0;

    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 35px;
    color: #fff;

    cursor: pointer;

    position: relative;
}

.button_theme_download.button_hovered_yes
{
    background: #6ba51b;
    background: -moz-linear-gradient(top,  #72b417 , #65a014);
    background: -webkit-linear-gradient(top,  #72b417 ,#65a014);
    background: -o-linear-gradient(top,  #72b417 ,#65a014);
    background: -ms-linear-gradient(top,  #72b417 ,#65a014);
    background: linear-gradient(to bottom,  #72b417 ,#65a014);

    /*color: #eaf4e9;*/
}

.button_theme_download.button_pressed_yes
{
    background: #65a014;
}

.button_theme_download .button__text
{
    display: block;
    /*padding: 17px 44px 14px 52px;*/
    padding: 15px 30px 16px 35px;
}

.button_theme_download .button__text:after
{
    content: "";

    width: 31px;
    height: 39px;

    background: url(../../../i/button_theme_download.png) no-repeat;

    position: absolute;
    left: 7px;
    bottom: -10px;
}
