.button_theme_howitworks
{
    background: #6cae11;
    background: -webkit-linear-gradient(top, #3ea6da, #39c);
    background:    -moz-linear-gradient(top, #3ea6da, #39c);
    background:      -o-linear-gradient(top, #3ea6da, #39c);
    background:     -ms-linear-gradient(top, #3ea6da, #39c);
    background:   linear-gradient(to bottom, #3ea6da, #39c);

    box-shadow: 0 2px 4px rgba(0,0,0,.3);

    border: 0;

    font-family: "Segoe UI Semibold","Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 35px;
    color: #fff;

    cursor: pointer;

    position: relative;
}

.button_theme_howitworks.button_hovered_yes
{
    background: #6ba51b;
    background: -webkit-linear-gradient(top, #44b8f2, #39c);
    background:    -moz-linear-gradient(top, #44b8f2, #39c);
    background:      -o-linear-gradient(top, #44b8f2, #39c);
    background:     -ms-linear-gradient(top, #44b8f2, #39c);
    background:   linear-gradient(to bottom, #44b8f2, #39c);
}

.button_theme_howitworks.button_pressed_yes
{
    background: #39c;
}

.button_theme_howitworks .button__text
{
    display: block;
    padding: 13px 44px 18px 52px;
}

.button_theme_howitworks .button__text:after
{
    content: "";

    width: 40px;
    height: 39px;

    background: url(../../../i/button_theme_howitworks.png) no-repeat;

    position: absolute;
    left: 7px;
    bottom: -10px;
}
