.button_theme_download
{
    width: 271px;
    height: 79px;

    background: url(../../../i/button_theme_download.png) no-repeat;

    font-size: 35px;
    color: #fff;

    cursor: pointer;

    transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;

    margin-right: 6%;
    float: right;
}

.button_theme_download:hover
{
    color: #eaf4e9;
}

.button_theme_download .button__text
{
    display: block;
    margin-top: -3px;
}