.button_theme_download
{
    height: 66px !important;
    float: right;

    zoom: 1;

    margin-top: 10px;

    vertical-align: top;
}

.button_theme_download .button__text
{
    height: auto;
    padding-top: 7px;
}