.landing-demo
{
    position: relative;
    margin: 42px 0 0;
    width: 1200px;
    height: 670px;
    background: #fff 0 0 no-repeat;
}

.landing-demo_view_magic-desktop
{
    background-image: url(__mask/_view/landing-demo__mask_view_magic-desktop.jpg);
    cursor: url(landing-demo.cur), default;
}

.landing-demo_view_windows
{
    background-image: url(__mask/_view/landing-demo__mask_view_magic-desktop.jpg);
}

.landing-demo_view_windows .landing-demo__btn
{
    display: none;
}
